<% provide(:title, "Edit user") %>
<div class='container'>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 well">
      <h1 class='col-lg-offset-2 text-center'>Update your profile</h1>
      <%= form_for @user, html: {class: "form-horizontal", role: "form"} do |f| %>
        <%= render 'fields', f: f %>
        <div class="form-group">
          <div class="col-lg-offset-2 col-lg-8">
            <%= f.submit "Save changes", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
      <div>
        <%= gravatar_for @user %>
        <%= link_to 'change', "http://gravatar.com/emails", target: "_blank" %>
      </div>
    </div>
  </div>
</div>


