<% provide(:title, 'About') %>

<div class='container well'>
  <h1 class='text-center'>About cardbinder</h1>
  <p>
    This site let's you easily, and efficiently, browse through various sets of trading cards. We currently offer:
  </p>
  <ul>
    <li>
      <b>Magic: the Gathering</b><br>
      <small>
        This web site is not affiliated with, endorsed, sponsored, or specifically approved by Wizards of the Coast LLC. This web site may use the trademarks and other intellectual property of Wizards of the Coast LLC, which is permitted under <%= link_to "Wizards' Fan Site Policy", "http://company.wizards.com/fankit", target: '_blank' %>. For example, MAGIC: THE GATHERING® is a trademark of Wizards of the Coast. For more information about Wizards of the Coast or any of Wizards' trademarks or other intellectual property, please visit their website at <%= link_to "www.wizards.com", "http://www.wizards.com", target: '_blank' %>.
        <br>
        Wizards of the Coast, Magic: The Gathering, and their logos are trademarks of Wizards of the Coast LLC in the United States and other countries. © 2009 Wizards. All Rights Reserved.
      </small>
    </li>
  </ul>
  <p>
    If you choose to <%= link_to 'sign up', signup_path %>, you can add cards to your binder! Think of it as a digital representation of your actual collection of awesome cards. Eventually, we'd like to harbor a bit of an online trading community, since we'll easily know who has which card, and be able to connect you to them. Cardbinder can also act as a bit of a safety buffer for trading in person. Carrying around $1000's of cards can be a bit nerve-racking. We let you show off your cards without showing off your cards!
  </p>
  <h2>Thanks</h2>
  <p>
    This site would not have been possible without the following:
    <ul>
      <li>
        <%= link_to 'MTG JSON', "http://mtgjson.com/", target: '_blank' %>
        <br>
        Robert has a pretty amazing API laid out, and he's an asset to the community!
      </li>
      <li>
        Obligatory thanks to the community over at <%= link_to 'CCGHQ', "https://www.slightlymagic.net/forum/viewtopic.php?f=15&t=18042", target: '_blank' %>
        <br>
        They've compiled all these HQ images, and for that, we thank you...
      </li>
      <li>
        <%= link_to 'Brad Rigney aka Cryptcrawler', "http://cryptcrawler.deviantart.com/", target: '_blank' %>
        <br>
        My personal favorite of all the artists involved with MtG.
      </li>
      <li>
        <%= link_to 'Wikipedia', "https://en.wikipedia.org/wiki/List_of_Magic:_The_Gathering_sets", target: '_blank' %>
        <br>
        Great article.
      </li>
    </ul>
  </p>
  <p>
    That is all... start building your binder now!!
  </p>
</div>