.card-actions
  - if signed_in?
    - if current_user.has?(card)
      = link_to '', remove_card_path(card: card.multiverseid), class: "glyphicon glyphicon-remove", title: 'Remove from Binder', remote: true, method: :delete
    - else
      = link_to '', add_card_path(card: card.multiverseid), class: "glyphicon glyphicon-ok", title: 'Add to Binder', remote: true, method: :post
  %span.glyphicon.glyphicon-share-alt.flipper{title: 'Flip'}

- names = Array.wrap(card.try(:names) || card.name)
.card{ data: {options: card.options.join(' ')}, id: card.multiverseid, title: names.join('<br>') }
  .front
    - img = card.front
    = image_tag("#{img if show_image ||= false}", 'data-src' => img, alt: names.join(' '))
  .back
    = image_tag(card.back)
