.card-actions
  - if signed_in?
    - if current_user.has?(card)
      = link_to '', remove_card_path(card: card.multiverseid), class: "glyphicon glyphicon-remove", title: 'Remove from Binder', remote: true, method: :delete
    - else
      = link_to '', add_card_path(card: card.multiverseid), class: "glyphicon glyphicon-ok", title: 'Add to Binder', remote: true, method: :post
  %span.glyphicon.glyphicon-share-alt.flipper{title: 'Flip'}

- names = Array.wrap(card.try(:names) || card.name)
.card{ data: {options: card.options.join(' ')}, id: "multiverse#{card.multiverseid}" }
  .front
    %p.card-name= card.name
    = image_tag(card.default_back_img, 'data-src' => card.front_img, alt: names.join(' - '))
  .back
    %p.card-name= card.back_name
    = image_tag(card.back_img)

